CORS=http://nostwave.com,https://nostwave.com
MASTER_KEY= # REQUIRED, used to protect service endpoints from access outside system. These endpoint are only available for other microservices
JWT_PRIVATE_KEY= # REQUIRED, MINIMUM 44 characters in Base64 (256-bit)
XSRF_KEY= # REQUIRED, MINIMUM 44 characters in Base64 (256-bit)
ADMINISTRATION_KEY= # OPTIONAL, used to protect service endpoints for monitoring and diagnosing
RECAPTCHA_SITE_KEY= # OPTIONAL
RECAPTCHA_SECRET_KEY= # OPTIONAL
MESSAGE_BROKER_USER=guest
MESSAGE_BROKER_PASSWORD=guest
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=127.0.0.1
TYPEORM_PORT=5432
TYPEORM_USERNAME=username
TYPEORM_PASSWORD=password
TYPEORM_DATABASE=userService
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false
