{
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "security": {
        "mfa": {
            "enabled": true,
            "appName": "App Name for Google Authenticator",
            "loginTokenTTLSeconds": 300
        },
        "bcryptRounds": 12,
        "reCaptcha": {
            "enabled": true,
            "ssl": true,
            "protectedEndpoints": {
                "register": true,
                "login": true,
                "forgotPassword": true,
                "resetPassword": true,
                "confirmEmail": true,
                "resendEmail": true
            }
        }
    },
    "externalLogin": {
        "google": {
            "enabled": true,
            "clientId": "XYZ.apps.googleusercontent.com"
        },
        "facebook": {
            "enabled": true,
            "clientId": "",
            "clientSecret": ""
        }
    },
    "passwordReset": {
        "codeTTLMinutes": 1440
    },
    "commonFields": {
        "email": {
            "isLength": {
                "max": 70
            }
        },
        "password": {
            "isLength": {
                "min": 8,
                "max": 128
            },
            "hasUppercase": true,
            "hasLowercase": true,
            "hasDigits": true,
            "hasSymbols": true
        }
    },
    "additionalFields": {
        "registerEndpoint": {
            "phone": {
                "isString": true,
                "trim": true,
                "isLength": {
                    "max": 10
                }
            }
        }
    }
}
