{
    "redis": {
        "host": "127.0.0.1",
        "port": 6379
    },
    "security": {
        "mfa": {
            "enabled": true,
            "appName": "App Name for Google Authenticator",
            "loginTokenTTLSeconds": 300,
            "maxInvalidAttempts": 3
        },
        "bcryptRounds": 12,
        "reCaptcha": {
            "enabled": true,
            "ssl": true,
            "protectedEndpoints": {
                "register": true,
                "login": true,
                "forgotPassword": true,
                "resetPassword": true,
                "confirmEmail": true,
                "resendEmail": true,
                "confirmPhone": true,
                "resendPhone": true
            }
        }
    },
    "session": {
        "maxPerUser": 5,
        "staleRefreshTokenAfterHours": 720
    },
    "localLogin": {
        "allowLoginWithoutConfirmedEmail": false,
        "allowLoginWithoutConfirmedPhone": false,
        "email": {
            "required": true,
            "allowLogin": true,
            "resendLimit": 10,
            "resendTimeLimitSeconds": 30
        },
        "username": {
            "required": true,
            "allowLogin": true,
            "hashKey": ""
        },
        "phone": {
            "required": true,
            "allowLogin": true,
            "resendLimit": 3,
            "resendTimeLimitSeconds": 60
        }
    },
    "externalLogin": {
        "google": {
            "enabled": true,
            "clientId": "XYZ.apps.googleusercontent.com"
        },
        "facebook": {
            "enabled": true,
            "clientId": "",
            "clientSecret": ""
        }
    },
    "passwordReset": {
        "codeExpirationTimeInMinutes": 1440,
        "method": "email" // "email" or 
    },
    "commonFields": {
        "email": {
            "isLength": {
                "max": 70
            }
        },
        "username": {
            "isLength": {
                "min": 5,
                "max": 20
            }
        },
        "password": {
            "isLength": {
                "min": 8,
                "max": 128
            },
            "hasUppercase": true,
            "hasLowercase": true,
            "hasDigits": true,
            "hasSymbols": true
        }
    },
    "additionalFields": {
        "registerEndpoint": {
            "countryCode": {
                "isString": true,
                "trim": true,
                "isLength": {
                    "max": 10
                }
            }
        }
    }
}
