import { DataSource, DataSourceOptions } from "typeorm";

import { dataSourceOptions } from "./dal/typeOrmConfig";

// Used by TypeORM CLI to connect to the database, can't use process.env variables here?
export const AppDataSource = new DataSource({
    host: "127.0.0.1",
    port: 5432,
    username: "postgres",
    password: "",
    database: "userService",
    ...dataSourceOptions,
} as DataSourceOptions);
