{
   "type": "postgres",
   "host": "localhost",
   "port": 5432,
   "username": "postgres",
   "password": "password",
   "database": "DATABASE_NAME",
   "synchronize": false, // NOT SAFE TO SET TRUE IN PRODUCTION ENVIRONMENT, THIS WILL CAUSE AUTOMATIC MIGRATIONS
   "logging": false,
   "entities": [
      "dist/dal/entities/**/*.js"
   ],
   "migrations": [
      "dist/dal/migrations/**/*.js"
   ],
   "subscribers": [
      "dist/dal/subscribers/**/*.js"
   ],
   "cli": {
      "entitiesDir": "dist/dal/entities",
      "migrationsDir": "dist/dal/migrations",
      "subscribersDir": "dist/dal/subscribers"
   }
}